BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

NamespaceIndentation: None

IndentAccessModifiers: false
AccessModifierOffset: -1

ColumnLimit: 120

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false

SortIncludes: true
IncludeBlocks: Preserve

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

Cpp11BracedListStyle: true
Standard: c++20